
@import url("examtable.css");
@import url("web20.css");

body {margin:0px; padding:0px; text-align:center;}
h1 {font-variant: small-caps;}

#all
{
	width: 780px;
	margin: 0px auto;
	text-align: center;
	height: 100%;
	background-color: #C1FFEB;
}

#main
{
	overflow: auto;
	height: 100%;
	text-align: center;
}

#main table
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#main table tr {text-align: justify}

#main #list
{
	overflow: auto;
	height: 200px;
}

#main #list table td {cursor: pointer;}
#main #list table tr:hover td {background-color: #E8EEEE;}
#main #list table tr.current td {text-decoration: underline;}
#main #list table tr.finished td {color: lightgray;}

#main #detail
{
	margin-top: 13px;
}

#main #detail table a
{
	cursor: pointer;
	color: blue;
}

#control
{
	float: left;
	text-align: center;
	width: 160px;
	height: 100%;
	background-color: #54AAFF;
	font-family: sans-serif;
}

#control a
{
	display: block;
	text-align: center;
	font-variant: small-caps;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	background-color: #ACC;
	margin-bottom: -2px;
	border-width: 2px;
	border-style: solid;
}
