
body {margin:0px; padding:0px; text-align:center;}
h1 {font-variant: small-caps;}
a {text-decoration: none;}

#all
{
	width: 780px;
	margin: 0px auto;
	text-align: center;
	height: 100%;
	background-color: #C1FFEB;
	border-spacing: 0px;
}

table#all td {padding: 0px;}

#main
{
	overflow: auto;
	border: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 0px;
}

#control
{
	float: left;
	text-align: center;
	width: 160px;
	height: 100%;
	background-color: #54AAFF;
	font-family: sans-serif;
}

#control a
{
	display: block;
	text-align: center;
	font-variant: small-caps;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	background-color: #ACC;
	margin-bottom: -2px;
	border-width: 2px;
	border-style: solid;
}
