
a.button
{
	display: block;
	text-align: center;
	font-variant: small-caps;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	background-color: #CCC;
	border-width: 2px;
	border-style: solid;
	border-bottom-color: #444;
	border-right-color: #777;
	border-left-color: #DDD;
	border-top-color: #EEE;
}

a.button:hover
{
	color: white;
	background-color: #888;
}

a.button:active
{
	color: white;
	background-color: #666;
	border-top-color: #444;
	border-left-color: #777;
	border-right-color: #DDD;
	border-bottom-color: #EEE;
}
