
#question_list
{
	text-align: center;
	overflow: auto;
	height: 300px;
	background: #C1FFEB;
	font-family: monospace;
}

#question_list a.question_current
{
	border-width: 2px;
	border-style: solid;
	background-color: lightgray;
}

#question_list a.question_answered
{
	color: gray;
}

#question {background-color: #99CC99;}

#choices {overflow:auto; height:300px;}
.choice0 {background-color: #CC9999;}
.choice1 {background-color: #9999CC;}
